# notion (shared internal integration)
NOTION_API_KEY=

# data sources
NOTION_TASKS_DB_ID=224e4ee74ba48121ac6ecb9664f5dfc4
NOTION_DB_PLAYDATES=
NOTION_MEETINGS_DB_ID=224e4ee74ba48174b095e91e32c88f81
NOTION_GOALS_DB_ID=
NOTION_WEEKLY_SUMMARIES_PAGE_ID=

# slack
SLACK_BOT_TOKEN=

# cron auth
CRON_SECRET=
